<!--		 main  Features block-->
<section class="oe_container oe_dark lead" style="padding-top:50px;">
    <!--				main heading /title-->
    <h2>
        <font>
            <p class="text-primary text-center" style="color:#004460;"><b>Import Inventory adjust line easily from excel/csv to odoo</b>
        </font>
    </h2>
    <div class="oe_row">
        <div class="oe_span12">
            <div class="panel panel-primary" id="wkid0" style="border-color:#00cc99;">

                <!--												first block main heading-->
                <div class="panel-heading" style="background-color:#004460;">
                    <h3 class="panel-title" style="font-size: 25px;">
                        <b> Virzoteck Software and Solutions(virzoteck@gmail.com)</b>
                    </h3>
                </div>
                <div class="panel-body">
                    <!--									first block sub heading 1-->
                    <div class="alert alert-info"
                         style="padding:8px;font-weight: 300; font-size: 20px;background-color:#1ab2ff;">
                        <i class="fa fa-arrow-circle-o-right" style="color:white;"></i>
                        <b style="color:white;"> Features </b>
                    </div>
                    <!--						first block sub contain 2-->
                    <ul class="list-unstyled ">
                        <li><i class="fa fa-hand-o-right text-primary"></i>Allowing you to import inventory adjust line by easiest way</b></li>

                        <li><i class="fa fa-hand-o-right text-primary"></i>Sample File Link on PopUp</b>
                        </li>

                        <li><i class="fa fa-hand-o-right text-primary"></i>App will throw validation message if something wrong with file</b></li>



                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!--					setup block -->
<section class="oe_container oe_dark lead">
    <div class="oe_row">
        <div class="oe_span12">
            <div class="panel panel-success" id="wkid2" style="border-color:#004460;">
                <div class="panel-heading" style="background-color:#004460;">
                    <h3 class="panel-title" style="font-size: 25px;">
                        <i class="fa fa-cogs" style="color:white;"></i>
                        <b style="color:white;">Setup &amp; Configure</b>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="alert alert-success"
                         style="padding:8px;font-weight: 300; font-size: 20px;background-color:#1ab2ff;">
                        <i class="fa fa-cog" style="color:white;"></i>
                        <!--															secon block heading subtitle 1-->
                        <b style="color:white;">Select Product manually Option in Inventory Adjustment view</b>
                    </div>

                    <p>
                        <img class="oe_picture oe_screenshot" src="1.png">
                    </p>
                    <div class="alert alert-success" style="padding:8px;background-color:#1ab2ff;">
                        <i class="fa fa-cog" style="color:white;"></i>
                        <!--															secon block heading subtitle 1-->
                        <b style="color:white;">Click On Button Upload inventory</b>
                    </div>

                    <p>
                        <img class="oe_picture oe_screenshot" src="2.png">
                    </p>
                    <div class="alert alert-success" style="padding:8px;background-color:#1ab2ff;">
                        <i class="fa fa-cog" style="color:white;"></i>
                        <!--															secon block heading subtitle 1-->
                        <b style="color:white;">Select File Format and upload File</b>
                    </div>

                    <p>
                        <img class="oe_picture oe_screenshot" src="4.png">
                    </p>
                    <div class="alert alert-success" style="padding:8px;background-color:#1ab2ff;">
                        <i class="fa fa-cog" style="color:white;"></i>
                        <!--															secon block heading subtitle 1-->
                        <b style="color:white;">Inventory Imported with less efforts</b>
                    </div>
                    <p>
                        <img class="oe_picture oe_screenshot" src="3.png">
                    </p>

                            <div class="alert alert-success" style="padding:8px;background-color:#1ab2ff;">
                        <i class="fa fa-cog" style="color:white;"></i>
                        <!--															secon block heading subtitle 1-->
                        <b style="color:white;">Simplest format of CSV File and Excel File</b>
                    </div>
                    <p>
                        <img class="oe_picture oe_screenshot" src="5.png">
                        <img class="oe_picture oe_screenshot" src="6.png">

                    </p>

                    <!--																				second block heading subtitle 3-->
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!--							Footer block-->

<section class="container">
    <div class="oe_dark oe_quote" style="height:200px">
        <div class="col-md-12">
            <h1>For issues reagrding this module and any other assistance related to the new Odoo feature, Customization
                or Odoo Development contact us on virzoteck@gmail.com</h1>

        </div>
    </div>
</section>

